.word-card {
  max-width: 300px;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

.id {
  display: none;
}

  .word-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .word-transcription,
  .word-translation,
  .word-theme {
    font-size: 20px;
    line-height: 2;
  }
  button {
    cursor: pointer;
    background-color: #da1f92;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;

    &:hover {
      background-color: #e782d6;
    }

    &:active {
      background-color: #1c638d;
    }
  }
}
