.input-word {
  font-family: "Montserrat", sans-serif;
  width: 100%;

  &.error {
    border: 2px solid rgb(236, 30, 30);
  }
}

.actions {
  display: flex;
  gap: 8px;

  button {
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;

    &:hover {
      background-color: #2980b9;
    }

    &:active {
      background-color: #1c638d;
    }
  }
}

.error-message {
  color: rgb(236, 30, 30);
  font-size: 0.875rem;
  font-weight: bold;
  margin-top: 4px;
  display: block;
}
